<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jystudy.coffee0528.repository.LCAPUserResUnionMapper">
    <resultMap id="BaseRoleResultMap" type="com.jystudy.coffee0528.domain.entities.LCAPRole">
            <id column="id" jdbcType="BIGINT" property="id" />
                <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
                <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
                <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
                <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
                <result column="uuid" jdbcType="VARCHAR" property="uuid" />
                <result column="name" jdbcType="VARCHAR" property="name" />
                <result column="description" jdbcType="VARCHAR" property="description" />
                <result column="role_status" jdbcType="TINYINT" property="roleStatus" />
                <result column="editable" jdbcType="TINYINT" property="editable" />
    </resultMap>
    <select id="getUserResourceList" resultType="java.lang.String">
        SELECT  `lcap_resource_f803ac`.`name`
        FROM `lcap_user_role_mapping_f803ac`
        INNER JOIN `lcap_role_per_mapping_f803ac`
        ON `lcap_user_role_mapping_f803ac`.`role_id` =
        `lcap_role_per_mapping_f803ac`.`role_id`
        INNER JOIN `lcap_per_res_mapping_f803ac`
        ON `lcap_role_per_mapping_f803ac`.`permission_id` =
        `lcap_per_res_mapping_f803ac`.`permission_id`
        INNER JOIN `lcap_resource_f803ac`
        ON `lcap_per_res_mapping_f803ac`.`resource_id` =
        `lcap_resource_f803ac`.`id`
        WHERE `lcap_user_role_mapping_f803ac`.`user_id` =  #{userId}
    </select>

    <select id="pageQueryRole" resultMap="BaseRoleResultMap">
        select * from `lcap_role_f803ac`
        <where>
            <if test="name != null and name != ''">
                `lcap_role_f803ac`.`name` LIKE concat('%', concat(#{name}, '%'))
            </if>
        </where>
        order by `lcap_role_f803ac`.`created_time` desc
        <if test=" size!=null ">
            LIMIT
            #{page},#{size}
        </if>
    </select>
</mapper>